/*Universal Selectors****************/
 body {
   font-family: 'Roboto', helvetica;
   -webkit-font-smoothing: antialiased;
 }


/*Class Selectors********************/
.img-responsive {
  /*max-width: 120%;*/
}

.logo {
  width: 186;
  height: 26px;
}

.black-box {
  position: absolute;
  bottom: 15px;
  left: 30px;
  background-color: #263238;
  padding: 15px;
  max-width: 80%;
}

.black-box > * {
  color: white;
  /*margin: 0;*/
}

/*.box-b, .box-c {
  padding-right: 0;
}*/

.box-b, .box-c > * {
  /*margin: 0;*/
  color: white;
}

.box-b {
  background-color: #0D46A0;
  height: 100%;
}

.box-c {
  background-color: #009688;
}

/*Id Selectors***********************/
 #main-img {
   background-image: url('../img/orange-couch.jpg');
   position: relative;
   height: 57.5rem;
   background-size: cover;
   background-position: center center;
 }

 #woman-img {
   background-image: url('../img/woman.jpg');
   height: 20rem;
   background-size: cover;
   background-position: center center;
 }

 #tablet-img {
   background-image: url('../img/tablet-smile.jpg');
   height: 20rem;
   background-size: cover;
   background-position: center center;
 }


/*Media Queries**********************/
@media screen and (max-width: 767px) {
  
}
